    <!-- MENU -->
    <nav>
        <ul>
            <li><a><img src="./img/matchen.svg" alt="matchen"></a></li>
            <li><a><img src="./img/chatten.svg" alt="chatten"></a></li>
            <li><a href="/index"><img src="./img/profiel.svg" alt="profiel"><div class="menu-item-geselecteerd"></div></a></li>
            <li><a><img src="./img/instellingen.svg" alt="instellingen"></a></li>
        </ul>
    </nav>