/*********/
/* MENU */
/*********/

body nav:nth-of-type(2) {
    background-color: var(--header-fill-color);
    height: 5.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

body nav:nth-of-type(2) ul {
    display: flex;
    justify-content: space-between;
    padding-top: 1.4em;
    margin: 0 1em
}

body nav:nth-of-type(2) ul li .menu-item-geselecteerd {
    width: 0.5em;
    height: 0.5em;
    background-color: var(--button-fill-color);
    border-radius: 1000em;
    margin: 0 auto;
}