/*********/
/* MOBIEL*/
/*********/

body nav:nth-of-type(2) {
    background-color: var(--header-fill-color);
    height: 5.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body nav:nth-of-type(2) ul {
    display: flex;
    justify-content: space-between;
    padding-top: 1.4em;
    margin: 0 1em
}