/*********/
/* FONTS */
/*********/

@font-face {
  font-family: 'Red Hat Display', sans-serif;
  src: url(../fonts/RedHatDisplay-Regular.woff);
}

/**************/
/* CSS RESET */
/**************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background-color);
  position: relative;
  margin-bottom: 6em;
}

a, button {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* Colors */
  --button-color: #6337C2;
  --save-button-color: gray;
  --header-color: #0C0C0C;
  --background-color: #1A1720;
  --title-color: #D8D8D8;
  --p-color: #717171;
  --button-text-color: white;
  --line-color: #3A3A3A;
  --button-hover-color: #411E8C;
  --save-button-hover-color: #565656;

  /* Borders */
  --border: solid 0.1em var(--line-color);
}

/*************/
/* ANIMATIES */
/*************/

.button-hover:hover {
  transition: .2s ease-out;
  background-color: var(--button-hover-color);
}