/*********/
/* FONTS */
/*********/

@font-face {
  font-family: 'Red Hat Display', sans-serif;
  src: url(../fonts/RedHatDisplay-Regular.woff);
}

/**************/
/* CSS RESET */
/**************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background-fill-color);
  position: relative;
  margin-bottom: 6em;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* Colors */
  --button-fill-color: #6337C2;
  --save-button-fill-color: gray;
  --header-fill-color: #0C0C0C;
  --background-fill-color: #1A1720;
  --title-text-color: #D8D8D8;
  --p-text-color: #717171;
  --button-text-color: white;
  --input-field-line-color: #3A3A3A;
}