/**************************/
/* PROFIEL BEWERKEN HEADER */
/**************************/

header {
    display: flex;
}

header .profile-picture-container {
    border-radius: 1.4em;
    margin: 0 auto;
    position: relative;
}

header .profile-picture-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    opacity: 60%;
}

header .profile-picture-container button {
    background-color: var(--button-fill-color);
    border-radius: 1000em;
    width: 4em;
    height: 4em;
    border: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}