<!DOCTYPE html>
<html lang="NL">

<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>PixelJobs - Profiel Bewerken</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/menu.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-nav.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-header.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-main.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-save-button.css">

</head>

<body>

    <!-- NAV -->
    <nav>
        <a href="/index"><img src="./img/terug.svg" alt="terug"></a>
        <h1>Profiel Bewerken</h1>
    </nav>

    <!-- HEADER -->
    <header>
        <div class="profile-picture-container">
            <img src="./img/profiel-foto.jpg" alt="profiel-foto">
            <button><img src="./img/camera.svg" alt="camera"></button>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <section>

            
            <form action="/index" method="POST">

                <!-- ALGEMENE INFORMATIE -->
                <h2>Algemene informatie</h2>

                <label for="voornaam">Voornaam</label>
                <input type="text" name="firstName">

                <label for="achternaam">Achternaam</label>
                <input type="text" name="lastName">

                <label for="leeftijd">Leeftijd</label>
                <input type="number" name="age">

                <label for="woonplaats">Woonplaats</label>
                <input type="text" name="residence">

                <label for="functie">Functie</label>
                <input type="text" name="jobFunction">

                <!-- GEDETAILLEERDE INFORMATIE -->
                <h2>Gedetailleerde informatie</h2>
                
                <label for="over-mij">Over mij</label>
                <input type="text" name="aboutMe">

                <p>Opleidingen</p>
                <input type="text" name="education">
                <button>Opleidingen toevoegen<img src="./img/toevoegen.svg" alt="toevoegen"></button>

                <p>Werkervaring</p>
                <input type="text" name="workExperience">
                <button>Werkervaring toevoegen<img src="./img/toevoegen.svg" alt="toevoegen"></button>

                <label for="soft-skills">Soft skills</label>
                <input type="text" name="softSkills">

                <label for="hard-skills">Hard skills</label>
                <input type="text" name="hardSkills">

                <!-- SAVE BUTTON -->
                <button name="submit" type="submit"><img src="./img/save.svg" alt="save"></button>

            </form>

        </section>
    </main>

    <!-- MENU -->
    <% include('partials/menu.ejs') %>
    
</body>

</html>