<!DOCTYPE html>
<html lang="NL">

<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>PixelJobs - Profiel Bewerken</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/menu.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-nav.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-header.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-main.css">

</head>

<body>

    <!-- NAV -->
    <nav>
        <a href="/index"><img src="./img/terug.svg" alt="terug"><p>Terug</p></a>
        <h1>Profiel Bewerken</h1>
    </nav>

    <!-- HEADER -->
    <header>
        <div class="profile-picture-container">
            <img src="./img/profiel-foto.jpg" alt="profiel-foto">
            <button class="button-hover"><img src="./img/camera.svg" alt="camera"></button>
        </div>
    </header>

    <!-- MAIN -->
    <main>
        <section>

            <form action="/index" method="POST">

                <!-- ALGEMENE INFORMATIE -->
                <h2>Algemene informatie</h2>

                <label>Voornaam</label>
                <input placeholder="Vul in..." type="text" name="firstName">

                <label>Achternaam</label>
                <input placeholder="Vul in..." type="text" name="lastName">

                <label>Leeftijd</label>
                <input placeholder="Vul in..." type="number" name="age">

                <label>Woonplaats</label>
                <input placeholder="Vul in..." type="text" name="residence">

                <label>Functie</label>
                <input placeholder="Vul in..." type="text" name="jobFunction">

                <!-- GEDETAILLEERDE INFORMATIE -->
                <h2>Gedetailleerde informatie</h2>
                
                <label>Over mij</label>
                <input placeholder="Vul in..." type="text" name="aboutMe">

                <label>Opleidingen</label>
                <button class="button-hover"><img src="./img/toevoegen.svg" alt="toevoegen">Opleidingen toevoegen</button>
                <input placeholder="Vul in..." type="text" name="education">

                <label>Werkervaring</label>
                <button class="button-hover"><img src="./img/toevoegen.svg" alt="toevoegen">Werkervaring toevoegen</button>
                <input placeholder="Vul in..." type="text" name="workExperience">

                <label>Soft skills</label>
                <input placeholder="Vul in..." type="text" name="softSkills">

                <label>Hard skills</label>
                <input placeholder="Vul in..." type="text" name="hardSkills">

                <!-- SAVE BUTTON -->
                <button name="submit" type="submit"><img src="./img/save.svg" alt="save">Opslaan</button>

            </form>

        </section>
    </main>

    <!-- MENU -->
    <% include('partials/menu.ejs') %>

    <!-- MENU -->
    <nav>
        <ul>
            <li><a><img src="./img/matchen.svg" alt="matchen"></a></li>
            <li><a><img src="./img/chatten.svg" alt="chatten"></a></li>
            <li><a href="/index"><img src="./img/profiel.svg" alt="profiel"><div class="menu-item-geselecteerd"></div></a></li>
            <li><a><img src="./img/instellingen.svg" alt="instellingen"></a></li>
        </ul>
    </nav>
    
</body>

</html>